{% let collapse_uuid = Self::collapse_uuid() %}


<div class="row" xmlns="http://www.w3.org/1999/html">
    {% if Self::passed(self) %}
    <div class="feature-passed">
    {% else %}
    <div class="feature-failed">
    {% endif %}
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <div class="tags"> <span class="tag">VTS-226</span>

                        </div>

                        <a data-toggle="collapse" href="#collapseFeature{{ collapse_uuid }}">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                            <b>Feature:</b>{{ name }}
                            <span class="label-container">
                                {% if Self::scenarios_passed_count(self) != 0 %}
                                <span class="label label-success" title="{{ Self::scenarios_passed_count(self) }} Scenarios Passed">{{ Self::scenarios_passed_count(self) }}</span>
                                {% endif %}
                                {% if Self::scenarios_skipped_count(self) != 0 %}
                                <span class="label label-warning" title="{{ Self::scenarios_skipped_count(self) }} Scenarios Passed">{{ Self::scenarios_skipped_count(self) }}</span>
                                {% endif %}
                                {% if Self::scenarios_failed_count(self) != 0 %}
                                <span class="label label-danger" title="{{ Self::scenarios_failed_count(self) }} Scenarios Passed">{{ Self::scenarios_failed_count(self) }}</span>
                                {% endif %}
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFeature{{ collapse_uuid }}" class="panel-collapse collapse">
                    <div class="panel-body">

                        {% for scenario in scenarios %}
                            {{ scenario|safe }}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>