<!DOCTYPE html>
<html>

<head>
    <title>Mermaid</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.js"></script>
    <script>
        mermaid.initialize({
        startOnLoad:true,
        });

    </script>
</head>
<body>

    <h2>Sequence diagram for: {{ name }}</h2>
    <h3>NOTE: This a best effort diagram, always consult the logs when something does not look right.</h3>

    <div class="mermaid">
        sequenceDiagram
        participant PyTest
        participant DishManager
        participant DSManager
        participant SPFRxDevice
        participant SPFDevice
        {{ Self::collapse_sequence_entries(self)|escape }}
    </div>

</body>
</html>
