{% let scenario_collapse_uuid = Self::collapse_uuid() %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">

            <div class="tags"> <span class="tag"></span>
                {% for tag in tags %}
                <span class="tag"> {{ tag.name }}</span>
                {% endfor %}
            </div>

            <a data-toggle="collapse"
                href="#collapseScenariod{{ scenario_collapse_uuid }}">
                <div>

                    <div style="padding-right: 30px">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        <b>Scenario:</b>
                        <div class="ellipsis" data-text="{{ name }}"> {{ name }}</div>
                    </div>
                    <div>
                        <span class="label-container ">
                            {% if Self::passed_steps_count(self) > 0 %}
                            <span class="label label-success"
                                title="{{  Self::passed_steps_count(self)  }} Steps Passed">{{  Self::passed_steps_count(self)  }}</span>
                            {% endif %}
                            {% if Self::failed_steps_count(self) > 0 %}
                            <span class="label label-danger"
                                title="{{  Self::failed_steps_count(self)  }} Steps Failed">{{  Self::failed_steps_count(self)  }}</span>
                            {% endif %}
                            {% if Self::skipped_steps_count(self) > 0 %}
                            <span class="label label-warning"
                                title="{{  Self::skipped_steps_count(self)  }} Steps Skipped">{{  Self::skipped_steps_count(self)  }}</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div><small><i></i></small></div>
            </a>
        </h4>
    </div>
    <div id="collapseScenariod{{ scenario_collapse_uuid }}"
        class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                
                {% match elastic_url %}
                {% when Some with (elastic_url) %}
                <a href="{{ elastic_url|escape }}" target="_blank">Elastic logs</a>
                <br/>
                {% when None %}
                {% endmatch %}


                {% let error_collapse_uuid = Self::collapse_uuid() %}

                <a href="#{{ error_collapse_uuid }}" data-toggle="collapse" class="toggle">Show stdout Logs</a>

                <div id="{{ error_collapse_uuid }}" class="collapse">
                    <pre class="info show-modal" data-toggle="modal"
                        style="cursor: pointer" data-target="#{{ error_collapse_uuid }}">
                    {{ Self::collapse_pytest_logs(self) }}
                    </pre>
                </div>


                <br/>
                {% let events_collapse_uuid = Self::collapse_uuid() %}

                <a href="#{{ events_collapse_uuid }}" data-toggle="collapse" class="toggle">Show Events</a>

                <div id="{{ events_collapse_uuid }}" class="collapse">
                    <pre class="info show-modal" data-toggle="modal"
                        style="cursor: pointer" data-target="#{{ events_collapse_uuid }}">
                    <br/>
                    {{ Self::collapse_event_logs(self)|escape }}
                    </pre>
                </div>

                <br/>
                {% let events_collapse_uuid = Self::collapse_uuid() %}

                <a href="#{{ events_collapse_uuid }}" data-toggle="collapse" class="toggle">Show Pod Logs</a>

                <div id="{{ events_collapse_uuid }}" class="collapse">
                    <pre class="info show-modal" data-toggle="modal"
                        style="cursor: pointer" data-target="#{{ events_collapse_uuid }}">
                    <br/>
                    {{ Self::collapse_pod_logs(self)|escape }}
                    </pre>
                </div>


                <br/>
                {% let error_collapse_uuid = Self::collapse_uuid() %}

                <a href="#{{ error_collapse_uuid }}" data-toggle="collapse" class="toggle">Show Commands called</a>

                <div id="{{ error_collapse_uuid }}" class="collapse">
                    <pre class="info show-modal" data-toggle="modal"
                        style="cursor: pointer" data-target="#{{ error_collapse_uuid }}">
                    <br/>
                    {{ Self::collapse_called_commands(self)|escape }}
                    </pre>
                </div>
                <br/>
            </div>

            {% if let Some(s_path) = sequence_path %}
            <a href="{{ s_path }}" target="_blank">Show Sequence diagram</a>
            <br/>
            {% endif %}

            {% for step in steps %}

            <p class="scenario-container">
                <div class="row steps">
                    {% if step.result.status == "failed" %}
                        <span class="label label-danger" title="Failed"><i
                            class="glyphicon glyphicon-remove"></i></span>
                    {% endif %}
                    {% if step.result.status == "skipped" %}
                        <span class="label label-warning" title="Skipped"><i
                            class="glyphicon glyphicon-minus"></i></span>
                    {% endif %}
                    {% if step.result.status == "passed" %}
                    <span class="label label-success" title="Success"><i
                            class="glyphicon glyphicon-ok"></i></span>
                    {% endif %}
                    
                    <span class="text">
                        <span class="keyword highlight">{{ step.keyword }}</span>
                        <span> {{ step.name }}</span>    
                        <span class="step-duration">
                             {{ step.result.duration }} ms
                        </span>
                    </span>

                    {% if step.has_error_message() %}
                    {% let error_collapse_uuid = Self::collapse_uuid() %}

                    <a href="#{{ error_collapse_uuid }}" data-toggle="collapse" class="toggle">Show Error</a>

                    <div id="{{ error_collapse_uuid }}" class="collapse">
                        <pre class="info show-modal" data-toggle="modal"
                            style="cursor: pointer" data-target="#{{ error_collapse_uuid }}">
                        <br>
                        {{ step.get_error_message() }}
                        </pre>
                    </div>
                    {% endif %}

                </div>
            </p>
            {% endfor %}
        </div>
    </div>
</div>